<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Admin/Home/Index">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Danh mục<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Admin/Users/Index">Người dùng</a></li>
                            <li><a href="/Admin/ChiTietPhieuNhap/Index">Chi tiết phiếu nhập</a></li>
                            <li><a href="/Admin/KhachHang/Index">Khách hàng</a></li>
                            <li><a href="/Admin/LoaiSanPham/Index">Loại sản phẩm</a></li>
                            <li><a href="/Admin/LoaiThanhVien/Index">Loại thành viên</a></li>
                            <li><a href="/Admin/NhaCungCap/Index">Nhà cung cấp</a></li>
                            <li><a href="/Admin/NhaSanXuat/Index">Nhà sản xuất</a></li>
                            <li><a href="/Admin/PhieuNhap/Index">Phiếu nhập</a></li>
                            <li><a href="/Admin/SanPham/Index">Sản phẩm</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Thông báo</a></li>
                    <li><a href="/Admin/Register/Index">Đăng ký</a></li>
                    <li class="active"><a href="/Admin/Login/Index">Đăng nhập<span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content" style="margin-top:10px">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
